.profile {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 30px;
}

.profile__info {
  width: 415px;
  height: 77px;
  margin-right: 165px;
}

.profile__name-container {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.profile__name {
  font-family: "Inter", sans-serif;
  font-size: 42px;
  font-weight: 500;
  margin: 0;
  margin-right: 18px;
}

.profile__about {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.profile__edit-button {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.profile__more-button {
  width: 150px;
  height: 50px;
  border-color: white;
  border: 2px solid white;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__more-button-plus {
  width: 22px;
  height: 22px;
}

@media screen and (max-width: 720px) {
  .profile {
    flex-direction: column;
  }

  .profile__info {
    width: 100%;
    margin-right: 0;
  }
}

@media screen and (max-width: 320px) {
  .profile {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profile__name {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 500;
    margin: 0 auto;
  }

  .profile__about {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 0 auto;
    text-align: center;
  }
}
